{
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended","plugin:@typescript-eslint/recommended"],
    "rules": {
      "import/no-anonymous-default-export": "off",
      "@typescript-eslint/ban-types": "off",
      "@typescript-eslint/no-unused-vars": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-extra-boolean-cast": "off",
      // "@typescript-eslint/prefer-const": "warn",
      "no-console": [
        "off",
        {
          "allow": ["off"]
        }
      ],
      "@typescript-eslint/ban-ts-comment": [
        "error",
        {
          "ts-expect-error": "allow-with-description",
          "ts-ignore": "allow-with-description"
        }
      ]
    }
  }
  